*{
    margin: 0;
    box-sizing: border-box;
}


.navbar > a {
   text-decoration: none;
   color: black;
}

nav > a{
    text-decoration: none;
    color: black;
}

.navbar{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    // min-width: 1000px;
    max-height: 110px;
    gap: 80%;
    padding-top: 20px;
    // padding-left: 60px;
    // align-items: center;
    justify-content: center;
}

nav{
    display: flex;
    gap: 40px;
    
}

// .logo{
//     // margin-left: -60px;
// }